{% include "common/header.html" %}
  <body>
    
    {% include "common/top.html" %}
    
    <div class="container jetstrap-highlighted">
    
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Reading Assistant</h1>
        <p>독서 도우미는, 자신이 보유한 도서들을 관리하고, 독서 계획을 세우고 이에 대한 현황을 기록 하고 볼 수 있는 웹 사이트입니다.</p>
        
      </div>
    
      <!-- Example row of columns -->
      <h2>Best Seller</h2><p>현재의 베스트 셀러 도서들 입니다.</p>
    
      <a class="btn btn-danger">추후 개발</a>
	  
	  <hr>
	  
	  <h3>My Book</h3>
	  
	  {% if request.session.id %} 
	  <a href="book/book_list" class="btn pull-right">more</a>
	  {% endif %} 
	  
	  <br /><br />
	  
	  <table class="table">
	  <tbody>
		<tr><th>이미지</th><th>책 제목</th><th>등록일</th></tr>
		{% for book in book_list %}
		<tr><td><a href="javascript:goBookDetail('{{ book.isbn }}');"><img src="{{ book.image_url }}"></a></td><td><a href="javascript:goBookDetail('{{ book.isbn }}');">{{ book.book_name }}</a><td>{{ book.reg_dt|date:'Y-m-d H:i:s' }}</td></tr>
		{% endfor %}
	  </tbody>
	  </table>
	  
	  <hr>
	  
	  <h3>Best Word</h3><!-- <a class="btn pull-right">more</a> -->
	  
	  <br /><br />
	  
	  <table class="table">
	  <tbody>
		<tr><th>이름</th><th>내용</th><th>등록일</th></tr>
		{% for bestword in bestword_list %}
		<tr><td>{{ bestword.user.name }}</td><td>{{ bestword.best_word }}<td>{{ bestword.reg_dt|date:'Y-m-d H:i:s' }}</td></tr>
		{% endfor %}
	  </tbody>
	  </table>
	  
	  <hr>
	  
	  <h3>I'm Reading Now</h3>
	  
	  <table class="table jetstrap-selected">
	  <tbody>
		<tr><th>이미지</th><th>제목</th><th>저자</th><!-- <th>분야</th> --><th>진행율</th><th>등록일</th>
		{% for reading_now in reading_now_list %}
		<tr><td><img src="{{ reading_now.book.image_url }}"></td><td><a href="javascript:goBookDetail('{{ reading_now.book.isbn }}');">{{ reading_now.book.book_name }}</a><td>{{ reading_now.book.author }}</td><td>{{ reading_now.current_ratio|floatformat }}%</td><td>{{ reading_now.reg_dt|date:'Y-m-d H:i:s' }}</td></tr>
		{% endfor %}
	  </tbody>
	  </table>
	  
	  <div class="row-fluid"></div><hr>
    
      <div class="container"></div><footer><p>© skytear7@naver.com 2013</p>
        
      </footer>
    
    </div> <!-- /container -->
    

    <style>
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/static/js/bootstrap.js">
    </script>
    <script>
		function goBookDetail(isbn) {
			document.bookPkForm.action = "/book/book_detail/";
			document.bookPkForm.isbn.value = isbn;
			document.bookPkForm.submit();
		}
    </script>
    <form name="bookPkForm" action="" method="post">
		<input type="hidden" name="isbn" />
	</form>
  </body>
</html>
